* {
    margin:0;
    padding:0;
}

.mainWindow {
    margin:0;
    padding:0;
}

h1 {
  font-size: 3.8em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.col-1-3 {
  width: 33%;
  position:relative;
  float:left;
}

.left-header{
    width: 50%;
    position: relative;
    float:left;
}
.right-header{
    width: 50%;
    position: relative;
    float:right;
}

.col-2-3 {
    width: 65%;
	position:relative;
	float:right;
}

#goldBadge {
    color:#eee;
    font-weight:700;
    margin-left:20px;
}
#goldCount {
    font-size:large;
    color:gold;
    font-weight:900;
}

#clicksBadge {
    color:#eee;
    font-weight:700;
}
#clicksCount {
    color:lightgoldenrodyellow;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #A45209;
  border-radius: 4px;
  color: #fff;
}

nav a:visited, a:link {
  color: #fff;
}

nav a:hover {
  color: #111;
  background-color: #A45209;
}

nav a.router-link-active {
  color: #000;
  background-color: #FFCC33;
  border:1px black solid;
}

