* {
    margin: 0;
    padding: 0;
}

.container {
    margin:8px;
    padding:8px;
    border: 2px black solid;
    text-align:center;
	height: 400px;
}

h1 {
    font-size:2.2em;
    text-decoration:underline;
    text-shadow:3px 1px 2px #333;
}

.selected {
    background-color: #DDBB22 !important;
    color: white;
}

.employees {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    text-align:left;
}

.employees li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #FFCC33;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.employees li.selected:hover {
    background-color: #DDBB22 !important;
    color: white;
}

.employees li:hover {
    color: #607D8B;
    background-color: #DDBB22;
    left: .1em;
}

.employees .text {
    position: relative;
    top: -3px;
}

.employees .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #A45209;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 2px 0 0 2px;
}
